body{
    background-image: url("wood-2609093_1920.jpg");
}

.form{
    /* This pattern is downloaded from www.toptal.com/designers/subtlepatterns/ */
    background-image: url("light-grey-terrazzo/light-grey-terrazzo.png");    
    position: relative;
    top: 50px;
    margin: auto;
    text-align: center; 
    border-radius: 10px;
    border: 2px solid gray;    
    width: 370px;
    height: 280px;
    
}

#title{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 35px;
}

#submit{
    position: relative;
    width: 90px;    
}




